# -*- coding: utf-8 -*-

# You can see config.defaults to learn more options
# and put some of them here

### ACCOUNT ###
SERVER = u'kreved.org'
USER = u'freqbot'
PASSWD = u'secret'
RESOURCE = u'Python'

### ACCESS ###
ADMINS = [u'kreved@kreved.org', u'pg@jabbus.org']

### MUC ###
NICK = u'freQ-bot'
STATUS = u'freQ-bot %VERSION% is online'
ROOM_LIMIT = 99
# maximum number of rooms where bot sits.. set 0 here to disable leaving non-active rooms
#TRUSTED_SERVERS = [u'conference.jabber.ru', u'conference.jabber.org']

### BOT ###
DATADIR = '/var/freqbot'
DBDIR = '/var/freqbot'
### MISC ###

### DEBUG LOGGING ###
LOGLEVEL = 5
# loglevel: 0 - log anything; 9 - log nothing...
LOGFILE = '/var/log/freqbot/log.html'
LOGF = '/var/log/freqbot/twisted.log'
ERRLOGFILE = '/var/log/freqbot/err.html'
#RAWXML = '/var/log/freqbot/raw.xml'

### PLUGINS ###
CHATLOGS_DIR = '/var/freqbot/chatlogs'
CHATLOGS_ENABLE = 'off'
CHATLOGS_ALLOW_SWICH = True
#if CHATLOGS_ALLOW_SWICH, then room owner can enable/disable logging
GOOGLE_KEY = 'Place your google API key here'
